<md-dialog layout-margin>
  <form ng-cloak>
    <md-input-container>
      <label>Email</label>
      <input type="email" ng-model="user.email">
    </md-input-container>

    <md-input-container>
      <label>Password</label>
      <input type="password" ng-model="user.password">
    </md-input-container>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button ng-click="signIn(user)">
        Sign In
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
