<md-content layout="row" layout-align="center start" flex="100">
  <div layout="column" flex="100" flex-gt-md="70">
    <md-card flex="100">
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">오시는 길</span>
          <span class="md-subhead">한동대학교 프라임 사업단</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <md-divider></md-divider>
        <p>경북 포항시 북구 흥해읍 한동로 558 한동대학교 37554 창업보육센터 1층 한동대학교 프라임 사업단</p>
        <ng-map zoom="16" center="[36.1030897,129.3873529]">
          <marker position="[36.103107,129.3861405]" title="프라임 사업단 사무실"></marker>
        </ng-map>
      </md-card-content>
    </md-card>
  </div>
</md-content>
